.ql-toolbar {
    background-color: white !important;
    border-bottom: 1px solid #e1e1e1 !important;
}

.ql-container {
    background-color: white !important;
    color: black !important;
}

.ql-editor{
    min-height:200px;
}

.text-editor-style {
    padding: 10%;
}
.card-style{
    width: 100%;
}